<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.0/js/jquery.jexcel.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.0/css/jquery.jexcel.min.css"
      type="text/css"/>

<form action="/dataset/add" method="post">
    <fieldset>
        <legend>Criar novo dataset</legend>
        <label>Nome:</label>
        <input name="name"/>
        <button type="submit">Adicionar</button>
    </fieldset>
</form>


<div>
    <label>Selecione um dataset:</label>
    <select id="ds-select" name="name">
        <option>-- selecione um dataset --</option>
    {% for ds in datasets: %}
        <option>{{ ds }}</option>
    {% endfor %}
    </select>
</div>

<div id="result-panel" style="display: none">
    <h2>Team Member</h2>
    <div id="team-member-table"></div>

    <h2>Management Data</h2>
    <div id="management-table"></div>

    <h2>Team Data</h2>
    <div id="team-table"></div>

    <p>
        <button id="save-btn" type="button">Salvar Alterações</button>
        <button id='run-btn' type="submit">Obter melhor distribuição</button>
    </p>
</div>

<script>
    function getData(table) {
        return $('#' + table).jexcel('getData');
    }

    function getHeaders(table) {
        return $('#' + table).jexcel('getHeaders');
    }

    function saveDataset() {
        var data = {
            teamMembersData: [getHeaders('team-member-table')].concat(getData('team-member-table')),
            managementData: [getHeaders('management-table')].concat(getData('management-table')),
            teamData: [getHeaders('team-table')].concat(getData('team-table'))
        };
        $.ajax({
            url: "/dataset/" + current_dataset() + "/save",
            method: 'post',
            data: JSON.stringify(data),
            contentType: 'application/json;charset=UTF-8',
            success: function () {
                alert("Dataset salvo!")
            }
        });
    }

    function current_dataset() {
        var currentDS = $("#ds-select").val();
        return currentDS;
    }

    function showDataset() {
        var currentDS = current_dataset();
        $('#team-member-table').jexcel({
            csv: 'http://localhost:5000/team-member/' + currentDS,
            csvHeaders: true,
            colWidths: [300, 300, 300],
        });

        $('#management-table').jexcel({
            csv: 'http://localhost:5000/management/' + currentDS,
            csvHeaders: true,
            colWidths: [300, 300, 300],
        });

        $('#team-table').jexcel({
            csv: 'http://localhost:5000/teams/' + currentDS,
            csvHeaders: true,
            colWidths: [300, 300, 300],
        });
        $("#result-panel").fadeIn();
    };

    $("#ds-select").change(showDataset);
    $("#save-btn").click(saveDataset);

</script>
</html>